In [2]:
import pandas as pd
import sqlite3 as sql

connection = sql.connect('emp.db')
query = '''SELECT * FROM employees'''

dr = pd.read_sql_query(query, connection)
dr.head()

  firstName   lastName    pay
0  Gopinath  Jayakumar  70000
1     Maria    Jenifer  40000
2     Deepa    Sangith  40000