In [ ]:
# RDBMS: Data Base Management System
    #  is collection of data and set of program to access & store those data in different easy manner.
    #  is a software which is used to manage database.
            # ex:- MySQL, Oracle, PostgreSQL, Microsoft SQL Server, SQLite

In [1]:
import sqlite3

con = sqlite3.connect('emp.db')
print ("Opened database successfully")

Opened database successfully

In [2]:
con.execute("""CREATE TABLE employees (
                firstName,
                lastName,
                pay
                )""")

print ("Table created successfully")

Table created successfully

In [3]:
con.execute("INSERT INTO employees VALUES ('Gopinath', 'Jayakumar', '70000')")

con.execute("INSERT INTO employees VALUES ('Maria', 'Jenifer', '40000')")

con.execute("INSERT INTO employees VALUES ('Deepa', 'Sangith', '40000')")

con.commit()
print ("Insterted values successfully")

Insterted values successfully

In [4]:
con.close()
print("close the connection ")

close the connection

In [7]:
import pixiedust
con = sqlite3.connect('emp.db')

def fetchValueFromDB(con):
    cursor = con.execute("SELECT * FROM employees")
    for row in cursor:
        print("first name: ", row[0])
        print("last name: ", row[1])
        print("pay: ", row[2], "\n")
        
fetchValueFromDB(con)

first name:  Gopinath
last name:  Jayakumar
pay:  70000

first name:  Maria
last name:  Jenifer
pay:  40000

first name:  Deepa
last name:  Sangith
pay:  40000